<p>Rebecca Thomas is the Managing Director of Rebecca Thomas & Associates. She has over 15 years experience advising nonprofits and foundations.</p>
<p>Prior to founding RTA, Rebecca was the Vice President of Innovation at Nonprofit Finance Fund, with overall strategic responsibility for national initiatives, funder partnerships, and online services. She served as a spokesperson and advocate for NFF regionally and nationally, speaking and writing on issues of nonprofit capitalization. Before entering the nonprofit sector, Ms. Thomas served as Senior Economics Correspondent for Smartmoney.com, where she covered economic developments and financial markets, and appeared as a commentator on CNNfn, MSNBC, and Fox.</p>
<p>As a former dancer, Rebecca has a particular passion for advising arts and culture
nonprofits and grantmakers. She is an advisory board member for SMU DataArts and a member
of the finance committee of Lark Play Development Center. She formerly served on the
boards of DataArts, Jos&eacute; Mateo Ballet Theatre and the Rock School for Dance
Education.</p>
<p>Rebecca received an MBA from Columbia University's Graduate School of Business and graduated with honors from Yale University with a B.A in French and International Studies.</p>
