<div class="container">
    <div class="footer-wrapper">
        <div class="row">

            <!-- Footer Col. -->
            <div class="col-md-3 col-sm-3 footer-col">
                <div class="footer-content">
                    <div class="footer-content-logo">
                        <img src="{{ root_url }}{{ site.logo_footer }}" alt="{{ site.title }}"/>
                    </div>
                    <div class="footer-content-text">
                        <p>Rebecca Thomas & Associates, LLC (RTA) partners with
                            philanthropic and nonprofit leaders to expand opportunities
                            for community and cultural vitality.</p>
                    </div>
                </div>
            </div>
            <!-- //Footer Col.// -->

            <!-- Footer Col. -->
            <div class="col-md-3 col-sm-3 footer-col">
                <!-- Subtract 8px because the Twitter widget adds it back in; big hack, sorry -->
                <div class="footer-title" style="margin-bottom: 8px;">
                    Recent Tweets
                </div>
                <div class="footer-content footer-recent-tweets-container">
                    <a class="twitter-timeline" data-theme="dark" data-link-color="#fff"
                        data-chrome="noheader nofooter noborders noscrollbar transparent"
                        data-tweet-limit="2"
                        href="https://twitter.com/RebeccaSThomas"
                        data-widget-id="521843310831230976">Tweets by @RebeccaSThomas</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
            <!-- //Footer Col.// -->

            <!-- Footer Col. -->
            <div class="col-md-3 col-sm-3 footer-col">
                <div class="footer-title">
                    Links
                </div>
                <div class="footer-content">
                    <ul class="footer-category-list">
                        <li>
                            <a href="">Lorem Ipsum</a>
                        </li>
                        <li>
                            <a href="">Dolor Sit Amet</a>
                        </li>
                        <li>
                            <a href="">Nullam dignissim</a>
                        </li>
                        <li>
                            <a href="">Lorem Ipsum</a>
                        </li>
                        <li>
                            <a href="">Lorem Ipsum</a>
                        </li>
                        <li>
                            <a href="">Dolor Sit Amet</a>
                        </li>
                        <li>
                            <a href="">Dolor Sit Amet</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- //Footer Col.// -->

            <!-- Footer Col. -->
            <div class="col-md-3 col-sm-3 footer-col">
                <div class="footer-title">
                    Photostream
                </div>
                <div class="footer-content">
                    <div class="flickr_badge_wrapper">
                        <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&display=latest&size=s&layout=x&source=all_tag&tag=Sky,scrappers" id="flicker-images"></script>                            
                    </div>
                    <!-- //Footer Col.// -->

                </div>
            </div>
        </div>
    </div>

</div>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 center-text">
                <div class="copyright-text">&copy; {{ site.time | date: "%Y" }} {{ site.author }} | Powered by <a href="http://octopress.org">Octopress</a> | Theme by <a href="http://www.activeaxon.com" target="_blank">ActiveAxon</a></div>
            </div>
        </div>
    </div>
</div>
