<li>
    <a href="{{ root_url }}/about.html">
        <span class="label-nav">
            About
        </span>
        <span class="label-nav-sub" data-hover="Who we are">
            Who we are
        </span>
    </a>
</li>
<li>
    <a href="{{ root_url }}/services.html">
        <span class="label-nav">
            Services
        </span>
        <span class="label-nav-sub" data-hover="What we do">
            What we do
        </span>
    </a>
</li>
<li>
    <a href="#">
        <span class="label-nav">
            Viewpoint
        </span>
        <span class="label-nav-sub" data-hover="What we think">
            What we think
        </span>
    </a>
    <ul>
        <li>
            <a href="{{ root_url }}/blog/">Blog</a>
        </li>
        <li>
            <a href="{{ root_url }}/publications.html">Publications</a>
        </li>
    </ul>
</li>
<li>
    <a href="{{ root_url }}/signup.html">
        <span class="label-nav">
            Contact
        </span>
        <span class="label-nav-sub" data-hover="Get in touch">
            Get in touch
        </span>
    </a>
</li>
