<style>
  .dream-decide, .survive-thrive, .assess-invest, .plan-do {
    color: #efefef;
    text-shadow: 0px 0px 5px rgba(0,0,0,1);
  }
  h1.dream-decide, h1.survive-thrive, h1.assess-invest, h1.plan-do {
    color: #ffffff;
    font-size: 300%;
    text-shadow: 0px 0px 8px rgba(0,0,0,1);
    text-transform: uppercase;
  }
  h1.dream-decide span, h1.survive-thrive span, h1.assess-invest span, h1.plan-do span {
    text-shadow: 0px 0px 4px rgba(0,0,0,0.6);
  }
  h1.dream-decide span {
    color: #00a2bf;
  }
  h1.survive-thrive span {
    color: #fff056;
  }
  h1.assess-invest span {
    color: #b8d3f0;
  }
  h1.plan-do span {
    color: #ff00f3;
  }
</style>
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    <li data-target="#myCarousel" data-slide-to="4" class=""></li>
</ol>
<div class="carousel-inner">
    <div class="item active">
        <img src="{{ root_url }}/images/beka-dancer.jpg" alt="dream > decide">
        <div class="container">
            <div class="carousel-caption">
                <h1 class="dream-decide">dream <span>&gt;</span> decide</h1>
                <h2 class="dream-decide">Imagine and realize your goals.</h2>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="{{ root_url }}/images/beka-oak.jpg" alt="survive > thrive">
        <div class="container">
            <div class="carousel-caption">
                <h1 class="survive-thrive">survive <span>&gt;</span> thrive</h1>
                <h2 class="survive-thrive">Adapt to succeed in changing times.</h2>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="{{ root_url }}/images/beka-classroom-hero.jpg" alt="assess > invest">
        <div class="container">
            <div class="carousel-caption">
                <h1 class="assess-invest">assess <span>&gt;</span> invest</h1>
                <h2 class="assess-invest">Build your grant portfolio wisely.</h2>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="{{ root_url }}/images/beka-planters-hero.jpg" alt="plan > do">
        <div class="container">
            <div class="carousel-caption">
                <h1 class="plan-do">plan <span>&gt;</span> do</h1>
                <h2 class="plan-do">Implement your strategy effectively.</h2>
            </div>
        </div>
    </div>
</div>