<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    <li data-target="#myCarousel" data-slide-to="4" class=""></li>
</ol>
<div class="carousel-inner">
    <div class="item active">
        <img src="{{ root_url }}/images/beka-dancer.jpg" alt="dream > decide">
        <div class="container">
            <div class="carousel-caption">
                <h1 class="tp-caption slider-text-title">dream <span class="colored">&gt;</span> decide</h1>
                <p class="tp-caption slider-text-description">Imagine and realize your goals.</p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="{{ root_url }}/images/beka-oak.jpg" alt="survive > thrive">
        <div class="container">
            <div class="carousel-caption">
                <h1 class="tp-caption slider-text-title"><span style="color: #9b9e40;">survive <span style="color: white;">&gt;</span> thrive</span></h1>
                <p class="tp-caption slider-text-description"><span style="color: #9b9e40;">Adapt to sustain in changing times.</span></p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="{{ root_url }}/images/beka-classroom-hero.jpg" alt="assess > invest">
        <div class="container">
            <div class="carousel-caption">
                <h1 class="tp-caption slider-text-title"><span style="color: #e5e7ed;">assess <span class="colored">&gt;</span> invest</span></h1>
                <p class="tp-caption slider-text-description"><span class="#000">Build your grant portfolio wisely.</span></p>
            </div>
        </div>
    </div>
    <div class="item">
        <img src="{{ root_url }}/images/beka-planters-hero.jpg" alt="plan > do">
        <div class="container">
            <div class="carousel-caption">
                <h1 class="tp-caption slider-text-title"><span style="color: #e5e7ed;">plan <span style="color: #dd6153;">&gt;</span> do</span></h1>
                <p class="tp-caption slider-text-description"><span style="color: #e5e7ed;">Implement your strategy effectively.</span></p>
                <p/><p/><p/>
            </div>
        </div>
    </div>
</div>