<li data-transition="slideright" data-slotamount="14">
    <img src="{{ root_url }}/images/beka-dancer.jpg" alt="dream-decide">
    <div class="tp-caption very_large_text sft"  data-x="540" data-y="170" data-start="0" data-easing="easeOutBack" >
        dream <span class="colored">&gt;</span> decide
    </div>
    <div class="tp-caption revolution-subtext sfb"  data-x="570" data-y="250" data-start="0" data-easing="easeOutBack" >
        Imagine and realize your goals.
    </div>
</li>

<li data-transition="slideright" data-slotamount="14">
    <img src="{{ root_url }}/images/beka-oak.jpg" alt="survive-thrive">
    <div class="tp-caption very_large_black_text sft"  data-x="540" data-y="170" data-start="0" data-easing="easeOutBack" >
        survive <span class="colored">&gt;</span> thrive
    </div>
    <div class="tp-caption revolution-subtext black sfb"  data-x="570" data-y="250" data-start="0" data-easing="easeOutBack" >
        Adapt to sustain in changing times.
    </div>
</li>

<li data-transition="slideright" data-slotamount="14">
    <img src="{{ root_url }}/images/beka-classroom-hero.jpg" alt="assess-invest">
    <div class="tp-caption very_large_text sft"  data-x="540" data-y="170" data-start="0" data-easing="easeOutBack" >
        assess <span class="colored">&gt;</span> invest
    </div>
    <div class="tp-caption revolution-subtext sfb"  data-x="570" data-y="250" data-start="0" data-easing="easeOutBack" >
        Build your grant portfolio wisely.
    </div>
</li>

<li data-transition="slideright" data-slotamount="14">
    <img src="{{ root_url }}/images/beka-planters-hero.jpg" alt="plan-do" data-fullwidthcentering="on">
    <div class="tp-caption very_large_black_text sft"  data-x="540" data-y="170" data-start="0" data-easing="easeOutBack" >
        plan <span class="colored">&gt;</span> do
    </div>
    <div class="tp-caption revolution-subtext black sfb"  data-x="570" data-y="250" data-start="0" data-easing="easeOutBack" >
        Implement your strategy effectively.
    </div>
</li>
