<div class="row">
    <div class="col-md-12 col-sm-12">
        <h2 class="h2-section-title">Meet Our Team</h2>

        <div class="i-section-title">
            <i class="icon-users-outline">

            </i>
        </div>

        <p class="p-section-info animated" data-animtype="fadeInUp" data-animrepeat="0"
           data-animdelay="0.4s">
            Malesuada tortor, nec scelerisque lorem mattis. Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat.
            Sed consectetur suscipit lorem nunc.adipiscing elit. Integer commodo tristique odio, quis fringilla
            ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum et rutrum.
        </p>
        <div class="space-sep20"></div>
    </div>
</div>

<div class="row animated" data-animtype="fadeInUp" data-animrepeat="0"
     data-animdelay="0.4s">
    <div class="col-md-3 col-sm-3">
        <div class="team-member">
            <div class="team-member-image img-overlay">
                <img src="images/placeholders/team-placeholder.jpg" alt="John Doe"/>

                <div class="item-img-overlay">
                    <div class="social-icons item_img_overlay_content">

                        <a href="#" title="aim" target="_blank" class="social-media-icon aim-icon">aim</a>
                        <a href="#" title="digg" target="_blank" class="social-media-icon digg-icon">digg</a>
                        <a href="#" title="zerply" target="_blank" class="social-media-icon zerply-icon">zerply</a>


                    </div>

                </div>
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name h3-body-title">
                    John Doe
                </h3>

                <div class="team-member-position">
                    CEO
                </div>
                <div class="team-member-short-bio">
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                    sanctus est Lorem ipsum dolor sit amet
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="team-member">
            <div class="team-member-image img-overlay">
                <img src="images/placeholders/team-placeholder.jpg" alt="Fred Bloggs"/>

                <div class="item-img-overlay">
                    <div class="social-icons item_img_overlay_content">

                        <a href="#" title="ember" target="_blank" class="social-media-icon ember-icon">ember</a>
                        <a href="#" title="facebook" target="_blank" class="social-media-icon facebook-icon">facebook</a>


                    </div>

                </div>
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name h3-body-title">
                    Fred Bloggs
                </h3>

                <div class="team-member-position">
                    Web Developer
                </div>
                <div class="team-member-short-bio">
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                    sanctus est Lorem ipsum dolor sit amet
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="team-member">
            <div class="team-member-image img-overlay">
                <img src="images/placeholders/team-placeholder.jpg" alt="Eric Lorman"/>

                <div class="item-img-overlay">
                    <div class="social-icons item_img_overlay_content">

                        <a href="#" title="evernote" target="_blank" class="social-media-icon evernote-icon">evernote</a>
                        <a href="#" title="skype" target="_blank" class="social-media-icon skype-icon">skype</a>
                        <a href="#" title="yahoo" target="_blank" class="social-media-icon yahoo-icon">yahoo</a>
                        <a href="#" title="mail" target="_blank" class="social-media-icon mail-icon">mail</a>


                    </div>

                </div>
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name h3-body-title">
                    Eric Lorman
                </h3>

                <div class="team-member-position">
                    Usability Expert
                </div>
                <div class="team-member-short-bio">
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                    sanctus est Lorem ipsum dolor sit amet
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3">
        <div class="team-member">
            <div class="team-member-image img-overlay">
                <img src="images/placeholders/team-placeholder.jpg" alt="Jecson Smith"/>

                <div class="item-img-overlay">
                    <div class="social-icons item_img_overlay_content">

                        <a href="#" title="instagram" target="_blank" class="social-media-icon instagram-icon">instagram</a>
                        <a href="#" title="dropbox" target="_blank" class="social-media-icon dropbox-icon">dropbox</a>
                        <a href="#" title="googleplus" target="_blank" class="social-media-icon googleplus-icon">googleplus</a>


                    </div>

                </div>
            </div>
            <div class="team-member-content">
                <h3 class="team-member-name h3-body-title">
                    Jecson Smith
                </h3>

                <div class="team-member-position">
                    UI Specialist
                </div>
                <div class="team-member-short-bio">
                    At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                    sanctus est Lorem ipsum dolor sit amet
                </div>
            </div>
        </div>
    </div>
</div>
