---
layout: default
---

{% include page_title.html title='Who We Are' subtitle='About Us' breadcrumb='About Us' %}

<div class="body-wrapper">
    <div class="container">
    
        <!-- // Feather -->
        <div class="row">
            <div class="col-md-12 col-sm-12 animated fadeInUp animatedVisi" data-animtype="fadeInUp" data-animrepeat="0" data-speed="1s" data-delay="0.4s">
                <h2 class="h2-section-title">About Rebecca Thomas & Associates</h2>
                <div class="i-section-title"><i class="icon-feather"></i></div>
            </div>
        </div>
                            
        <div class="space-sep20"></div>

        <!-- Why Choose -->
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="title-block clearfix">
                    <h3 class="h3-body-title">Why Choose Us</h3>
                    <div class="title-seperator"></div>
                </div>
                <p>
                    Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit 
                    voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
                    aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
                </p>
                <p>
                    voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
                    aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui.
                </p>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="blog-post-featured-img img-overlay">
                    <img src="/images/beka-feet.jpg" alt="" class="img-responsive">
                    <div class="item-img-overlay">
                        <a class="portfolio-zoom fa fa-plus" href="/images/beka-feet.jpg" data-rel="prettyPhoto[portfolio]" title="Title goes here"></a>
                        <div class="item_img_overlay_content">
                            <div class="blog-post-details-item blog-post-details-item-left share-article">
                                <span>Share It On</span>
                                <a href="#" class="icon-facebook"></a>
                                <a href="#" class="icon-twitter-alt"></a>
                                <a href="#" class="icon-google"></a>
                                <a href="#" class="icon-email-mail-streamline"></a>
                            </div>                        
                            <div class="blog-post-details-item blog-post-details-item-right share-article">
                                <a href="#" class="icon-heart">25</a>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <!-- Mission -->
    <div class="space-sep50"></div>
    <div class="section-content section-px section-color-bg white-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="space-sep30"></div>
                    <h2 class="h2-section-title">Our Mission</h2>
                    <h3 class="h3-section-info">We help nonprofits and funders collaborate, communicate and commit to shared success</h3>
                    <div class="space-sep30"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-sep50"></div>

    <div class="container">
        <!-- Team -->
        <div class="row">            
            <div class="col-md-12 col-sm-12">
                <div class="title-block clearfix">
                    <h3 class="h3-body-title">Our Team</h3>
                    <div class="title-seperator"></div>
                </div>
                <p>
                    Malesuada tortor, nec scelerisque lorem mattis. Nunc et rutrum consetetur sadipscing elitr, sed diam nonumy at volutpat. Sed consectetur suscipit lorem nunc.adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum et rutrum.
                </p>
            </div>
        </div>
        
        <div class="space-sep20"></div>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="team-member">
                    <div class="team-member-image img-overlay">
                        <img src="images/authors/rebecca_thomas.jpg" alt="Rebecca Thomas">

                        <div class="item-img-overlay">
                            <div class="social-icons item_img_overlay_content">
                                <a href="https://twitter.com/{{site.twitter_user}}" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a>
                                <a href="http://www.linkedin.com/pub/{{site.linkedin_user}}" target="_blank" class="social-media-icon linkedin-icon" data-original-title="linkedin">linkedin</a>
                                <a href="mailto:rebecca@rebeccathomas.com" class="social-media-icon mail-icon" data-original-title="mail">email</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="team-member-content">
                        <h3 class="team-member-name h3-body-title">
                            Rebecca Thomas
                        </h3>
                        <div class="team-member-position">
                            Managing Director
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="team-member-short-bio">
                    {% include custom/authors/rebecca_thomas.html %}
                </div>
            </div>
        </div>
    </div>
</div>